<<<<<<< HEAD
body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.5em;
}

input {
width: 25%;
margin: 10px;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 5px;
=======
body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.5em;
}

input {
width: 25%;
margin: 10px;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 5px;
>>>>>>> f2c5a7e4282f487477266b0d989c681a3a935fb9
}